{% extends "layout.html" %}
{% block body %}

<!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static',filename='img/home-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>Admin Panel</h2>
            <span class="subheading">Here we manage our post.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">

          {% for mess in get_flashed_messages() %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{mess}}
            </div>

          {% endfor %}
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
      <h2> Basic Actions</h2>
    <a href="/posts/add_post/{{user_id}}"><button class="btn btn-primary float-right">Create post</button></a><br><br>
    <hr>

  <h2>My Posts</h2>
  <!-- <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>

        <th>Title</th>
        <th>Slug</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>

        <td>{{post.title}}</td>
        <td><a href="/posts/post/{{post.slug}}">{{post.slug}}</td>
        <td>{{post.date}}</td>
        <td><a href="/posts/edit/{{post.sno}}"><button class="btn btn-primary float-right">Edit</button></a></td>
        <td><a href="/posts/delete/{{post.sno}}"><button class="btn btn-primary float-right">Delete</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  </div> -->
  <div class="row">
    {% for post in posts %}
            <div class="col-md-4">
          <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" src="/static/uploads/{{post.img_name}}" style="height: 225px; width: 100%; display: block;"  data-holder-rendered="true">
              <div class="card-body">
                <a href="/posts/post/{{post.slug}}">
                <h3 class="post-title">
                  {{post.title}}
                </h3>
                <h6 class="post-subtitle">
                  {{post.tagline}}
                </h6>
                </a>
                <p class='post-meta'>Posted by
                  {% for user in users %}
                  {%  if post.owner_id==user.id      %}
                  <a href="#">{{user.username}}</a>
                  {% endif  %}
                  {% endfor %}
                  on {{post.date}}</p>
                      <a href="/posts/edit/{{post.sno}}"><button type="button" class="btn btn-sm btn-outline-secondary float-left">Edit</button></a>
                      <a href="/posts/delete/{{post.sno}}"><button type="button" class="btn btn-sm btn-outline-secondary float-right">Delete</button></a>
              </div>
            </div>
          </div>
   {% endfor %}
 </div>


      </div>
    </div>
  </div>
<!--  </div>-->

{% endblock %}
