{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename="img/home-bg.jpg") }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['blog_name']}}</h1>
            <span class="subheading">{{params['tag_line']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <form class="form-inline my-2 my-lg-0" action='/search' method='post'>
      <input class="form-control mr-sm-2" type="search" name='search' placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <br>

    <div class="row">
        {% for post in posts %}
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0">
                <a class="text-dark" href="/posts/post/{{post.slug}}">{{ post.title }}</a>
              </h3>
              <div class="mb-1 text-muted">{{post.date}}</div>
              <p class="card-text mb-auto">{{post.content[0:40]}}....</p>
              <a href="/posts/post/{{post.slug}}">Continue reading...</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="/static/uploads/{{post.img_name}}" data-holder-rendered="true">
          </div>
        </div>
        {%  endfor %}




        <!-- {% for post in posts %}
        <div class="post-preview">
          <a href="/posts/post/{{post.slug}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.tagline}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            {% for user in users %}
            {%  if post.owner_id==user.id      %}
            <a href="#">{{user.username}}</a>
            {% endif  %}
            {% endfor %}
            on {{post.date}}</p>
        </div>
        {{post.content[0:40]}}...
        <hr>
        {% endfor %} -->


      </div>
    </div>
  </div>
{% endblock %}
