<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Term n Condition</title>
</head>
<body>
<center><h2><b> Please keep in mind while sharing your contants..</b></h2>
<h3><b>1. Contant should be technical no jokes are allowed here </b></h3>
<h3><b>2. All the blog Title should be unique                   </b></h3>
<h3><b>3. Only Account holder can post the blog and edit the post </b></h3>
<h3><b>4. If you have any query reach out to us through contact me page </b></h3></center>
</body>
</html>
