<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Term n Condition</title>
</head>
<body>
<h2><strong> Please keep in mind while sharing your contants..</strong></h2>
<h3><strong>1. Contant should be technical no jokes are allowed here </strong></h3>
<h3><strong>2. All the blog Title should be unique                   </strong></h3>
<h3><strong>3. Only Account holder can post the blog and edit the post </strong></h3>
<h3><strong>4. If you have any query reach out to us through contact me page </strong></h3>
</body>
</html>
