{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename="img/home-bg.jpg") }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['blog_name']}}</h1>
            <span class="subheading">{{params['tag_line']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <form class="form-inline my-2 my-lg-0" action='/search' method='post'>
      <input class="form-control mr-sm-2" type="search" name='search' placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


        {% for post in posts %}
        <div class="post-preview">
          <a href="/posts/post/{{post.slug}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.tagline}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            {% for user in users %}
            {%  if post.owner_id==user.id      %}
            <a href="#">{{user.username}}</a>
            {% endif  %}
            {% endfor %}
            on {{post.date}}</p>
        </div>
        {{post.content[0:40]}}...
        <hr>
        {% endfor %}


      </div>
    </div>
  </div>
{% endblock %}
